examples/from-SIP-example.json
[
    {
        "id": "06eeaca84a1982a1",
        "type": "http response",
        "z": "046e2a372ce4d76b",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 260,
        "y": 800,
        "wires": []
    },
    {
        "id": "7053d60bc6f93d89",
        "type": "http in",
        "z": "046e2a372ce4d76b",
        "name": "/node-red in",
        "url": "/node-red",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 840,
        "wires": [
            [
                "06eeaca84a1982a1",
                "6486340d2b1e8eea"
            ]
        ]
    },
    {
        "id": "6486340d2b1e8eea",
        "type": "debug",
        "z": "046e2a372ce4d76b",
        "name": "From SiP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 840,
        "wires": []
    },
    {
        "id": "7bafb1521f01d2bc",
        "type": "comment",
        "z": "046e2a372ce4d76b",
        "name": "From SIP",
        "info": "",
        "x": 80,
        "y": 780,
        "wires": []
    }
]