examples/run-now-example.json
[
    {
        "id": "1c57144ca7bd2cd3",
        "type": "sip-run-now",
        "z": "14814e3cd14145ed",
        "name": "",
        "program": "2",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "aabd63529445a216",
                "5cf67fa8d72212df"
            ]
        ]
    },
    {
        "id": "aabd63529445a216",
        "type": "http request",
        "z": "14814e3cd14145ed",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "localhost/jsin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "98bfbd7d4825c28a",
        "type": "inject",
        "z": "14814e3cd14145ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"runProgram\":1}",
        "payloadType": "json",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "1c57144ca7bd2cd3"
            ]
        ]
    },
    {
        "id": "5cf67fa8d72212df",
        "type": "debug",
        "z": "14814e3cd14145ed",
        "name": "run now",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "sipControl",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 520,
        "wires": []
    },
    {
        "id": "d901b65736e95fa5",
        "type": "comment",
        "z": "14814e3cd14145ed",
        "name": "Run now example",
        "info": "Run once test flow",
        "x": 110,
        "y": 500,
        "wires": []
    },
    {
        "id": "5f7c614d140f1bb4",
        "type": "ui_button",
        "z": "14814e3cd14145ed",
        "name": "",
        "group": "e56d1a1e5b33aebf",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Run program 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"runProgram\": 1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "1c57144ca7bd2cd3"
            ]
        ]
    },
    {
        "id": "e56d1a1e5b33aebf",
        "type": "ui_group",
        "name": "SIP",
        "tab": "21df1e48f66f4bac",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21df1e48f66f4bac",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]