examples/stop-stations-example.json
[
    {
        "id": "f0a2ad8953c34a11",
        "type": "sip-stop-all",
        "z": "14814e3cd14145ed",
        "name": "",
        "x": 310,
        "y": 920,
        "wires": [
            [
                "6d602e828a1b6ffc",
                "259dcec8aeb9733a"
            ]
        ]
    },
    {
        "id": "6d602e828a1b6ffc",
        "type": "http request",
        "z": "14814e3cd14145ed",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "localhost/jsin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "11cbc8cd0249121d",
        "type": "ui_button",
        "z": "14814e3cd14145ed",
        "name": "",
        "group": "e56d1a1e5b33aebf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "black",
        "bgcolor": "#f89595",
        "className": "",
        "icon": "",
        "payload": "{\"stopStations\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "f0a2ad8953c34a11"
            ]
        ]
    },
    {
        "id": "5b08595bd473cb4e",
        "type": "comment",
        "z": "14814e3cd14145ed",
        "name": "Stop all station example",
        "info": "Run once test flow",
        "x": 120,
        "y": 860,
        "wires": []
    },
    {
        "id": "259dcec8aeb9733a",
        "type": "debug",
        "z": "14814e3cd14145ed",
        "name": "stop stations",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 880,
        "wires": []
    },
    {
        "id": "a597966c3f898e1a",
        "type": "inject",
        "z": "14814e3cd14145ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"stopStations\":1}",
        "payloadType": "json",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "f0a2ad8953c34a11"
            ]
        ]
    },
    {
        "id": "e56d1a1e5b33aebf",
        "type": "ui_group",
        "name": "SIP",
        "tab": "21df1e48f66f4bac",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21df1e48f66f4bac",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]